.breadcrumbs {
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 48px;
	gap: var(--space-1);
	padding: 0 var(--space-1);
}

.breadcrumb-item {
	background: none;
	border: none;
	color: var(--colour-foreground);
	cursor: pointer;
	padding: var(--space-1);
	border-radius: var(--radius);
	font-size: 0.9rem;
	opacity: 0.7;
	display: flex;
	align-items: center;
	gap: var(--space-1);
}

.breadcrumb-item:hover {
	opacity: 1;
	background-color: var(--colour-card);
}
