.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.identity-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
