.identity-logo-container {
	font-size: 18px;
	font-family: 'Sixtyfour', sans-serif;
	background: linear-gradient(to top, var(--colour-primary), var(--colour-foreground));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
