.quick-settings-container {
	--settings-menu-size: 200px;

	position: relative;
}

.settings-menu {
	position: absolute;
	width: var(--settings-menu-size);
	right: 0;
	margin-top: var(--space-1);
	padding: var(--space-2);
	font-size: 0.9rem;
	background-color: var(--colour-card);
	border-radius: var(--radius);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	z-index: 10000;
}

.menu-option {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-option.theme {
	justify-content: space-between;
}
