<div class="files-list">
	<div class="list-header">
		@if (selectionMode) {
			<div class="list-cell checkbox-cell"></div>
		}

		<div class="list-cell name-cell">Name</div>
		<div class="list-cell date-cell">Modified</div>
	</div>

	@for (file of files$ | async; track file.id) {
		<div
			class="list-row"
			[class.selected]="selectionMode ? selectedFileIds.has(file.id) : selectedFile?.id === file.id"
			(click)="onFileAction(file)"
		>
			@if (selectionMode) {
				<div class="list-cell checkbox-cell">
					<i
						class="bi"
						[ngClass]="selectedFileIds.has(file.id) ? 'bi-check-circle-fill' : 'bi-circle'"
					></i>
				</div>
			}

			<div class="list-cell name-cell">
				@if (isImageFile(file) && getImagePreviewUrl(file)) {
					<img class="file-preview-thumb" [src]="getImagePreviewUrl(file)!" [alt]="file.name" />
				} @else {
					<i
						class="bi"
						[ngClass]="file.isDirectory ? 'bi-folder-fill' : (file.name | iconFromExtension)"
					></i>
				}

				<span [title]="file.name">{{ file.name }}</span>
			</div>

			<div class="list-cell date-cell">
				{{ file.updatedAt | date: 'dd/MM/yyyy HH:mm' }}
			</div>
		</div>
	}
</div>
