* {
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 15px;
	--space-4: 30px;

	--radius: 8px;

	box-sizing: border-box;
	transition: all 122ms linear;
}

html,
body {
	margin: 0 !important;
	height: 100% !important;
	font-family: sans-serif;
	scroll-behavior: smooth;

	background-color: var(--colour-background);
	color: var(--colour-foreground);
	font-size: clamp(0.95rem, 2vw, 1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	color: var(--colour-foreground);
	background-color: transparent;
	padding: var(--space-1);
}

i {
	font-size: clamp(1.3rem, 2vw, 1.5rem);
}
