* {
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 15px;
	--space-4: 30px;

	--radius: 8px;

	box-sizing: border-box;
	transition: all 122ms linear;
}

@font-face {
	font-family: 'Rubik';
	src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sixtyfour';
	src: url('/assets/fonts/Sixtyfour-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		'BLED' 0,
		'SCAN' 0;
}

html,
body {
	margin: 0 !important;
	height: 100% !important;
	scroll-behavior: smooth;

	background-color: var(--colour-background);
	color: var(--colour-foreground);
	font-size: clamp(0.95rem, 2vw, 1rem);

	font-family: 'Rubik', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	color: var(--colour-foreground);
	background-color: transparent;
	padding: var(--space-1);
}

i {
	font-size: clamp(1.3rem, 2vw, 1.5rem);
}
