.light-theme {
	--colour-primary: #006989;
	--colour-background: #eaebed;
	--colour-foreground: #535355;
	--colour-card: #f4f4f5;
	--colour-card-hover: #d1e2e8;
	--colour-accent: #e0e0e3;
	--colour-accent-foreground: #18181b;
	--colour-folder: #ffbd21;
}
